# MoonCraft config with rcon ip, password etc.
/config.json

# auto generated .d.lua files
/include

# compile script cache
/compile-cache.json

# auto generated shell_launch file
/src/shell_launch.lua

# auto generated fortunes.txt file
/programs/fortune/fortunes.txt
